body {
    background:linear-gradient(
        rgba(0, 0, 0, 0.911),
        rgba(0, 0, 0, 0.3)
    ),url('https://media.istockphoto.com/id/1450888838/photo/blue-sky-with-white-cloud-background.webp?a=1&b=1&s=612x612&w=0&k=20&c=p7sCKIG4ZCJPn-9FHfjUgvwxWyZDWnT8x3EN8EkiOzk=');
    background-size: cover;
    font-family: "Roboto", sans-serif;
    color: #ffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  .weather-app {
 background: rgba(255, 252, 252, 0.192); 
    max-width: 680px;
    margin: 60px auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }
  
  a {
    color: #885df1;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover,
  a:focus {
    color: #6123cc;
    outline: none;
  }
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
  }
  
  .search-input {
    background-color: #0000 ;
    border: none;
    color: #e2a8b9;
    font-size: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px;
  }
  
  .search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #463179;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
  }
  
  main {
    padding: 30px 0;
  }
  
  .current-temperature {
    font-size: 48px;
  }
  
  .current-weather {
    display: flex;
    justify-content: space-between;
  }
  
  .current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
  }
  .current-details {
    color: rgb(252, 252, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .current-details strong {
    color: #dd849f;
  }
  
  .current-temperature-icon {
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
  }
  
  .current-temperature-value {
    font-size: 80px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
  }
  
  footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 15px;
  
    color: rgba(21, 9, 54, 0.808);
  }
  .current-temperature img {
    width: 80px; 
    height: auto;
  }
  .forecast-date{
    text-align: center;
    color:rgb(252, 252, 255);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .forecast-icon {
   font-size: 38px;
   text-align: center;
  }
  .forecast-temperatures{
    text-align: center;
    color: #DD839D;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .weather-forecast {
    display: flex;
    justify-content: space-around;
  }
  .forecast-temperature{
    padding: 0 10px;
  }